slstatus_scrips/notes
slstatus_scrips/fan_rpm.sh
slstatus_scrips/test
slstatus_scrips/herz/test
slstatus_scrips/herz/CPU_GHz
slstatus_scrips/fans/avg_fans
slstatus_scrips/vol.py
slstatus_scrips/volume_script_one_line.sh
slstatus_scrips/bat/bin
